.manager-sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(135deg,  #8cffff,  #00ffff); 
  padding: 20px 15px;
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
}


.manager-sidebar ul {
  list-style: none;
  padding: 0;
}

.manager-sidebar ul li {
  padding: 12px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.manager-sidebar ul li:hover, .manager-sidebar ul li.active {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
